//Conda environments
params.polca_env='/path/to/polca/env'
params.clinopore_env='/path/to/clinopore/env'

//Input options
params.reads='reads/*fastq.gz'
params.medaka_model='r941_min_sup_g507'

//Run options
params.filter_reads='true'
params.long_read_polish='true'
params.short_read_polish='true'

//Output options
params.outdir='assemblies'
params.read_qc='true'
params.polishing_stats='true'

//Compute (local executions)
params.failure_action='terminate'
params.threads = 16

//Slurm
params.max_retries = 3
params.queue_size = 1000
params.slurm_account = 'cn64'


profiles {
  massive {
    executor {
      name = 'slurm'
      // Queue size
      queueSize = params.queue_size
      // Submission rate to 2 per second
      submitRateLimit = '2/1.seconds'
      // Modify job-name, replace 'nf' with 'rd'
      // For whatever reason I can't access task.processor.name here so instead we do
      // a string sub to achieve desired result (nextflow 20.04.1)
      jobName = { "clinopore-${task.name}".replace(' ', '_') }
    }

    process {
      // Retry jobs - typically with more resources
      // NOTE: referencing task.maxRetries in the errorStrategy closure causes a recursion loop in nf
      // during task resubmission and crashes due to a stack overflow; must be specified as done below
      maxRetries = params.max_retries
      errorStrategy = { task.attempt < params.max_retries ? 'retry' : 'ignore' }

      // Required for consistent resumes on massives NFS
      cache = 'lenient'
      withLabel: short_job {
        time = {30.minutes * task.attempt }
        memory = { 1024.MB * task.attempt }
        cpus = '1'
      }
      withLabel: long_job {
        time = {60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
        cpus = '4'
      }
      // Set options absent from nf slurm api
      clusterOptions = {
        qos = ''
        partition = ''
        if (task.time <= 30.minutes) {
          qos = 'genomics'
          partition = 'comp,genomics,short'
        } else if (task.time <= 120.minutes) {
          qos = 'genomics'
          partition = 'comp,genomics'
        } else {
          qos = 'rtq'
          partition = 'comp'
        }
        return "--account=${params.slurm_account} --qos=${qos} --partition=${partition}"
      }
    }
  }

  standard {
    executor {
	    name = 'local'
      queueSize = params.threads
    }
    process.memory='16 GB'
    proccess.cpus=16
    process.errorStrategy="${params.failure_action}"
  }
}


